{% extends 'base.html' %}
{% load static %}
{% block 'main' %}
<div class="container">
<div class="row">
    <div class="col-md-12"><br>
        <h2>About US</h2>
        <hr>
        <p>"Step into our liquor wonderland, where the only thing on the rocks is our ice! Cheers to making pour decisions and having a barrel of laughs. Welcome to the happiest hour in town!"</p>
    </div>
        <div class="col-md-6">
            <h2>Vission</h2>
            <hr>
            <p>
                "Crafting a spirited experience, our vision at [Your Liquor Shop Name] is to be the destination where every bottle tells a tale and every customer embarks on a journey of flavor discovery. We envision a space where expertise meets enthusiasm, where connoisseurs and novices alike find their perfect sip. With a curated selection and a touch of humor, we strive to create not just a liquor shop, but a hub of liquid joy and memorable moments. Cheers to a vision where every pour is a celebration and every customer leaves with a smile and a spirited story to share."</p>
        </div>
        <div class="col-md-6">
            <h2>Mision</h2>
        <hr>
        <p>"Conserve the essence of life—choose sustainability with 'Save Water, Drink Alcohol.' This whimsical mantra urges mindful enjoyment while highlighting alcohol's relatively lower water footprint. Sip responsibly, embrace moderation, and toast to a world where every drop matters. Join the movement, where pleasure aligns with conservation. Cheers to a greener tomorrow!"




        </p>
        </div>
</div> <!--about end-->
<!--statistics start-->
<h2 class="mt-4">statistic</h2>
<hr>
<div class="row">
    <div class="col-md-4 mt-4 shadow">
        <h1 class="text-danger text-center shadow p-2">10000+</h1>
        <h3 class="text-center">Happy customer</h3>
    </div>
    <div class="col-md-4 mt-4 shadow">
        <h1 class="text-danger text-center shadow p-2">20000+</h1>
        <h3 class="text-center">Ordered delivered</h3>
    </div>
    <div class="col-md-4 mt-4 shadow">
        <h1 class="text-danger text-center shadow p-2">200+</h1>
        <h3 class="text-center">Products</h3>
    </div><hr><hr>
</div>
</div>
{% endblock 'main' %}