.anchor{
    text-decoration:none;
}
.social{
    display:inline-block;
    margin-right: 20px;
}
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.navbar-brand{
    font-size: 2rem;
    color:black;
    font-family: 'Lobster',cursive;

}
.navbar-brand :hover{
    color:black
}
.nav-link{
    margin-right: 10px;
    margin-left: 10px;
    color:black;
    font-family: 'Rubik',sans-serif;
    text-transform: uppercase;
}
.nav-link :hover{
    color:black;
}
.search{
    height: 40px;
    width:80%;
    border-radius: 60px;
    outline:none;
    margin-right:-35px;
    font-family: 'Rubik',sans-serif;
    border:2px solid rgb(rgb(59, 3, 3));
}
.btn0{
    height: 40px;
    width:40%;
    outline:none;
    border:none;
    background: rgb(223, 143, 33);
    color: white;
    border-radius: 60px;
    font-weight: 700;

}
.main{
    background: url(stattic/img/1.web);
    background-size: cover;
    height:100vh;
    background-position: 50% 50%;
    width:100%;

}
.main h1{
    font-size:4rem;
    font-weight:400;
    font-family: 'robot';
    color: rgb(74, 37, 49);

}
.btn1{
    height: 45px ;
    width:35%;
    border:none;
    font-weight: 700;
    border: radius 60px;
}